@{
}

<div class="about-us">
    <h2>About Us</h2>
    <p>
        Welcome to our movie store. Here, you'll find a wide selection of movies and TV shows, all curated to provide you with the best entertainment experience. Enjoy browsing through our collection and find your next favorite film.
    </p>
</div>